/* morpion.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin-top: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    padding: 0;
}

button.bouton {
    width: 100px;
    height: 100px;
    font-size: 2em;
    cursor: pointer;
    background: #f79d00;  
    background: -webkit-linear-gradient(to right, #64f38c, #f79d00);  
    background: linear-gradient(to right, #64f38c, #f79d00); 
}
